body {
	margin: 0;
	font-family: Helvetica;
	color:  whitesmoke;
	background-color: orangered;
}

h1 {
	font-weight: 100;
}

#logo {
	height: 70px;
	width: 70px;
}

#container {
	display:  flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
}